@import url("http://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: crimson;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}
h4 {
  font-size: 20px;
  color: brown;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 20px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: rgb(250, 250, 248);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: #041e42;
  z-index: 999;
  position: sticky;
  top: -2px;
  left: 0;
}
#header .search-item-2 {
  display: flex;
  width: 350px;
  margin-right: 20px;
  margin-left: 20px;
}
#header input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid #ffffff;
  padding: 15px 30px;
  border-radius: 0px;
  outline: none;
}
#header .search-item-2 button {
  background-color: #9c70f3;
  border-radius: 0%;
  padding: 0 15px 0 15px;
}

#header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0px;
  background: #ffffff;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#header-2 .search-item {
  display: inline-flex;
  width: 60%;
  margin-top: 2px;
}
#header-2 input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid #052653;
  padding: 15px 30px;
  border-radius: 0px;
  outline: none;
}
#header-2 button {
  height: 3.125rem;
  background-color: #052653;
  color: #fff;
  white-space: nowrap;
  border-radius: 0px;
}
#header-2 .top-button {
  text-align: end;
  font-size: 16px;
  height: 3.125rem;
  border: 1px solid #052653;
  background-color: transparent;
  color: #000000;
  white-space: nowrap;
  border-radius: 0px;
  padding: 15px 30px;
  cursor: pointer;
}
#header-2 .address-button {
  height: 3.125rem;
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 20px;
}
#header-2 .address-button a {
  text-decoration: none;
  color: #000000;
}
#header-2 .normal-2 {
  height: 3.125rem;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  background-color: #052653;
  cursor: pointer;
  border: none;
  margin: 0;
  outline: none;
}
#navbar {
  display: flex;
}
#navbar li {
  list-style: none;
  padding: 0px 10px;
  position: relative;
}
#navbar li a {
  text-decoration: double;
  font-size: medium;
  font-weight: 400;
  color: rgb(253, 250, 250);
}
#navbar li a:hover,
#navbar li a.active {
  color: #9c70f3;
  transition: 0.4s ease;
}
#navbar li a.active::after,
#navbar li a:hover::afters {
  content: "";
  width: 50%;
  height: 2.5px;
  background: rgb(255, 255, 255);
  position: absolute;
  bottom: -2px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}
.logo {
  color: #fff;
  display: flex;
}
.logo span {
  color: #9c70f3;
  display: flex;
}
.bharat {
  color: #9c70f3;
  font-family: "Magneto";
  font-size: 60px;
}
.apne {
  color: #ffffff;
  font-family: "Magneto";
  display: flex;
  font-size: 60px;
}

/*Home Page*/
#top {
  display: flex;
  flex-wrap: nowrap;
}
#top .image {
  margin: 15px 15px 15px 15px;
  width: 200px; /* Adjust the size as per your requirement */
  border-radius: 50%; /* This will create a circular shape */
}
#top .top-text {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 10px 15px 15px 15px;
}
#top .image-container {
  display: flex;
  flex-wrap: nowrap;
}
#top .slide {
  transition: transform 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
}
#top .image:hover {
  box-shadow: 2px 12px 15px 4px rgb(206, 205, 205);
}
#top .prev-button,
#top .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  background: transparent;
  border: none;
  color: #c9cbce;
  background-color: #fff;
  box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.2);
  height: 100px;
  width: 45px;
  font-size: 25px;
  text-align: center;
  outline: none;
}
#top .prev-button {
  left: 10px;
}
#top .next-button {
  right: 10px;
}
/*//////////////////////////////////////////////////////////////*/
.image-container {
  height: 300px; /* Set the desired height for the scrollable div */
  overflow: auto; /* Enable scrollbar when content exceeds the height */
}
.image-container::-webkit-scrollbar {
  width: 0;
  line-height: 10%;
  background-color: transparent;
  visibility: hidden;
}
.image-container:hover::-webkit-scrollbar {
  width: 50px;
  visibility: visible;
  background-color: #f2f1f1;
}
.image-container::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 4px;
  height: 50px;
  width: 50px;
}

.image-container::-webkit-scrollbar-thumb:hover {
  background-color: #d3d3d3;
}

.image-container::-webkit-scrollbar-thumb:active {
  background-color: #cbcbcb;
}
/* For Firefox */
.image-container {
  scrollbar-width: thin;
  scrollbar-color: #a9a9a9;
}

.image-container:hover {
  scrollbar-width: thin;
}

/*****************************/
#feature {
  padding-top: 10px;
}
#feature .image-sq {
  margin: 15px 15px 15px 15px;
  width: 200px; /* Adjust the size as per your requirement */
  border-radius: 50%; /* This will create a circular shape */
}
#feature .features {
  display: inline-flex;
  flex-wrap: nowrap;
}
#feature .boxx {
  transition: transform 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
}
#feature .image-sq:hover {
  box-shadow: 2px 12px 15px 4px rgb(206, 205, 205);
}
#feature .texts {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  padding: 0px 15px 15px 15px;
}
#hero {
  background-image: url("pic/Banner/hero-banner5.jpg");
  width: 100%;
  height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  padding: 0 80px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  padding-bottom: 5px;
  color: #ff0000;
}
#hero h2 {
  font-weight: 900;
  font-size: 70px;
  color: #000610;
  font-family: "Bookman Old Style";
}
#hero h2 span {
  font-weight: 700;
  color: #000610;
  font-size: 50px;
  font-family: "Bookman Old Style";
}
#hero h3 {
  margin-top: 2px;
}
#hero button {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  padding: 13px 17px 13px 17px;
  margin-top: 1.5%;
  margin-left: 4%;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  align-items: end;
}
#hero button:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  transition: 0.9s ease;
  border-radius: 5px;
}

#product1 {
  text-align: center;
}
#product1 h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  box-shadow: 20px 10px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.5s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(31, 31, 31, 0.06);
  border: 2px solid #e9e8e8;
  transition: 0ms;
}

#product1 .pro img {
  width: 100%;
  border-radius: 15px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: darkcyan;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding: auto;
  color: black;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: yellow;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: brown;
}
#product1 .pro .heart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #ffffff;
  font-weight: 500;

  position: absolute;
  bottom: 20px;
  right: 10px;
  opacity: 0.4;
}
#product1 .pro .heart:hover {
  background-color: #fab8b8;

  opacity: 0.9;
}

.hover-button {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  padding: 13px 17px 13px 17px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  margin-left: 45%;
}

.hover-button:hover {
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("pic/Banner/b1.jpg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}
#banner h2 {
  color: rgb(9, 0, 0);
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: red;
}
#banner button {
  border-radius: 0;
  border: 2px solid #000000;
}
#banner button:hover {
  background-color: #000000;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("pic/Banner/buy-one-get-one-free.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  border: 1px solrgb(234, 234, 234) 000;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url("pic/Banner/comming-soon.jpg");
}
#sm-banner button {
  visibility: hidden;
  font-size: 18px;
}
#sm-banner .banner-box:hover button {
  background-color: #000000;
  border: 2px solid #ffffff;
  visibility: visible;
  border-radius: 5px;
  margin-bottom: 25%;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #052653;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #dde92d;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.button-container {
  position: fixed;
  bottom: 20px; /* adjust the distance from the bottom as needed */
  right: 20px; /* adjust the distance from the right as needed */
}

.floating-button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #052653; /* set your desired background color */
  color: #ffffff; /* set your desired text color */
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease; /* add smooth transition for all properties */
}

.floating-button:hover {
  width: 100px; /* change the width to create rounded rectangle effect */
  border-radius: 20px; /* change the border radius for rounded corners */
}
.button-text {
  display: none; /* hide the text by default */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* add smooth opacity transition */
}
.floating-button:hover .button-text {
  display: inline-block; /* show the text on hover */
  opacity: 1;
}
.floating-button:hover {
  color: transparent; /* hide the text on hover */
}
.floating-button:hover .button-text {
  color: #ffffff;
}
.button-text a {
  text-decoration: none;
  color: #ffffff;
}
/***********************************************/

.search-item {
  display: none; /* Hide the search bar by default */
  /* Styles for the search bar */
}

.search-item {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.show-search-bar {
  display: block;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #041e42;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  color: #9c70f3;
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #e2e9e1;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #787878;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #000000;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer a:hover {
  color: #9c70f3;
  text-decoration: underline;
}
footer .follow i:hover {
  text-decoration: none;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
footer .copyright p {
  background-color: #000000;
  padding: 5px;
  margin-left: 0;
}

/*Shop Page*/
#product1 {
  align-items: center;

  padding: 0%;
  background-color: #caccca;
}
#product1 .down-section {
  margin-left: 4px;
  display: flex;
  /* padding-top: 100%;
    padding-left:0; */
  border-radius: 4px;
  background-color: #bcbcbc;
}
.down-right-section .sort-b {
  position: absolute;
  right: 20px;
}

#product1 .down-left-section {
  width: 60%;
  margin: 6px 3px 2px 4px;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
}
.down-left-section .pahili {
  margin-top: 14px;
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}
.down-left-section .pahili a {
  text-decoration: none;
  color: #9c70f3;
  font-weight: 700;
  margin-top: 2%;
}
.line {
  border-bottom: 1px solid #041e42;
  margin-bottom: 8px;
  margin-top: 5px;
}

/* Code for Radio button Genders gicen below*/
label {
  display: flex;
  margin-bottom: 10px;
}
label {
  font-weight: 600;
}
label:before {
  margin-right: 5px;
}

form {
  padding: 15px 0 0 5px;
}

#result {
  margin-top: 10px;
}
/*Chechkbox for categeories given below*/
.down-left-section .Categorie {
  border: 1px solid #e1e1e1;
  padding: 4px;
}
.down-left-section h4 {
  color: #000000;
  font-size: 16px;
  text-align: left;
}
.checkbox-text {
  font-weight: 600;
}

#result {
  margin-top: 10px;
}

#sort-ComboBox {
  margin: 3px;
  padding: 8px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 255px;
  font-family: cursive;
  background-color: #fff;
  color: #000000;
  text-align: left; /* Align the text to the left */
}

#sort-ComboBox option {
  background-color: #fff;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
}

#sort-ComboBox:hover,
#sort-ComboBox:focus {
  border-color: #999;
}

#sort-ComboBox:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#product1 .down-right-section {
  margin: 6px 6px 2px 3px;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  background-color: #ffffff;
}

/****************************************************************/
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/*Single Product*/
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 34%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background: #088178;
  color: #fff;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
/*Blog Page*/
#blog-header {
  background-image: url("pic/Banner/bb7.jpg");
  width: 100;
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #000000;
  font-weight: 700;
  position: relative;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
  transition: 0.3s;
}
#blog .blog-details a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/*About Page*/
#about-header {
  background-image: url("pic/Banner/bb7.jpg");
  width: 100;
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
}

#about-head div {
  padding: 40px;
}

#about-app {
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/*Contact Page*/
#contact-header {
  background-image: url("pic/Banner/bs1.jpg");
  width: 100;
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 10px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: #fff;
}
#form-details form .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

/*Cart Page */
#cart-header {
  background-image: url("pic/Banner/b1.jpg");
  width: 100;
  height: 35vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#cart-header {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 70px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 14px;
}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/*Start Media Query*/
@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
}
/**/
