{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block stylesheet %}
    
    {% endblock stylesheet %}
    
    <title>{% block title %}{% endblock title %} | apneBrands</title>
  </head>
  <body>
    <section id="header">
      <h1 class="logo">
        <a href=" /">
          <span><h1 class="bharat">apneBrands</h1>
          </span>
          <!-- pne
            <h1 class="bharat">B</h1>
            rands</span
          > -->
        </a>
      </h1>
      <div class="search-item-2">
        <input type="text" placeholder="Search Your Product" />
        <button class="normal">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </button>
      </div>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html"></a></li>
          <li><a href="/shop/">Shop</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">contact</a></li>
          <li id="lg-bag">
            <a href="/cart/"
              ><i class="fa-sharp fa-solid fa-cart-shopping fa-lg"></i
            ></a>
          </li>
          <li id="me-user">
            <a href="/user/"><i class="fa-solid fa-user fa-lg"></i></a>
          </li>
          <li id="to-more">
            <a href="/more/"><i class="fa-sharp fa-solid fa-bars fa-lg"></i></a>
          </li>
        </ul>
      </div>
      <div id="mobile">
        <a href="/cart/"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    {% block body %}{% endblock body %}

    <footer class="section-p1">
      <div class="col">
        <h1 class="logo">
          <span><h1 class="apne">A</h1></span>pne<span
            ><h1 class="bharat">B</h1>
            rand</span
          >
        </h1>
        <h4>Contact</h4>
        <p>
          <strong>Address:</strong> Gat: Ploat: Shiv Colony Jalgaon Maharashtra
          India
        </p>
        <p><strong>Phone:</strong> (+91) 8080491934 / (+91) 7709977502</p>
        <p><strong>Hours:</strong> 24/7</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fa-brands fa-facebook" style="color: #0257e8"></i>
            <i class="fa-brands fa-instagram" style="color: #fb096a"></i>
            <i class="fa-brands fa-linkedin" style="color: #025af2"></i>
            <i class="fa-brands fa-youtube" style="color: #f52500"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="/contact/">Contact us</a>
      </div>

      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="/cart/">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
        <a href="becomeAseller.html">become a seller</a>
      </div>

      <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="pic/Footer/appstore.png" alt="" />
          <img src="pic/Footer/googleplay.png" alt="" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="pic/Footer/pay.png" alt="" />
      </div>

      <div class="copyright">
        <p>© 2023 Tech etc - HTML CSS Ecommerce Template</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
