{% extends 'base.html' %}

{% block title %} Shop {% endblock title %}
{% block body %} 

<section id="blog-header">
  <h2>#ReadMore</h2>

  <p>Read all case studies about our products!</p>
</section>

<section id="blog">
  <div class="blog-box">
    <div class="blog-img">
      <img src="pic/Blog/blog1.png" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Summer Sunglasses</h4>
      <p>
        thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
        wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
        g ffh8hrefhhg0 reff380f3ff
      </p>
      <a href="#">CONTINUE READING</a>
    </div>
    <h1>13/01</h1>
  </div>

  <div class="blog-box">
    <div class="blog-img">
      <img src="pic/Blog/blog2.png" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Paithani Sari</h4>
      <p>
        thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
        wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
        g ffh8hrefhhg0 reff380f3ff
      </p>
      <a href="#">CONTINUE READING</a>
    </div>
    <h1>13/02</h1>
  </div>

  <div class="blog-box">
    <div class="blog-img">
      <img src="pic/Blog/blog3.png" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Cotton-Jersey</h4>
      <p>
        thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
        wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
        g ffh8hrefhhg0 reff380f3ff
      </p>
      <a href="#">CONTINUE READING</a>
    </div>
    <h1>13/03</h1>
  </div>

  <div class="blog-box">
    <div class="blog-img">
      <img src="pic/Blog/blog4.png" alt="" />
    </div>
    <div class="blog-details">
      <h4>The Panchtantra Kahani book</h4>
      <p>
        thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
        wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
        g ffh8hrefhhg0 reff380f3ff
      </p>
      <a href="#">CONTINUE READING</a>
    </div>
    <h1>13/04</h1>
  </div>
</section>

<section id="pagination" class="section-p1">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a>
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>
      Get E-mail updates about our latest shop &
      <span>special offers.</span>
    </p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your E-mail address" />
    <button class="normal">Sign Up</button>
  </div>
</section>

{% endblock body %}

