{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Comatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apne Brands</title>
    <script
      src="https://kit.fontawesome.com/ac8df84308.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <section id="header">
      <h1 class="logo">
        <span><h1 class="apne">A</h1></span>pne<span
          ><h1 class="bharat">B</h1>
          rand</span
        >
      </h1>
      <div class="search-item-2">
        <input type="text" placeholder="Search Your Product" />
        <button class="normal">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </button>
      </div>
      <div>
        <ul id="navbar">
          <li><a class="active" href="index.html"></a></li>
          <li><a href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li id="lg-bag">
            <a href="cart.html"
              ><i class="fa-sharp fa-solid fa-cart-shopping fa-lg"></i
            ></a>
          </li>
          <li id="me-user">
            <a href="user.html"><i class="fa-solid fa-user fa-lg"></i></a>
          </li>
          <li id="to-more">
            <a href="more.html"
              ><i class="fa-sharp fa-solid fa-bars fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="blog-header">
      <h2>#ReadMore</h2>

      <p>Read all case studies about our products!</p>
    </section>

    <section id="blog">
      <div class="blog-box">
        <div class="blog-img">
          <img src="pic/Blog/blog1.png" alt="" />
        </div>
        <div class="blog-details">
          <h4>The Summer Sunglasses</h4>
          <p>
            thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
            wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
            g ffh8hrefhhg0 reff380f3ff
          </p>
          <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/01</h1>
      </div>

      <div class="blog-box">
        <div class="blog-img">
          <img src="pic/Blog/blog2.png" alt="" />
        </div>
        <div class="blog-details">
          <h4>The Paithani Sari</h4>
          <p>
            thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
            wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
            g ffh8hrefhhg0 reff380f3ff
          </p>
          <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/02</h1>
      </div>

      <div class="blog-box">
        <div class="blog-img">
          <img src="pic/Blog/blog3.png" alt="" />
        </div>
        <div class="blog-details">
          <h4>The Cotton-Jersey</h4>
          <p>
            thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
            wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
            g ffh8hrefhhg0 reff380f3ff
          </p>
          <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/03</h1>
      </div>

      <div class="blog-box">
        <div class="blog-img">
          <img src="pic/Blog/blog4.png" alt="" />
        </div>
        <div class="blog-details">
          <h4>The Panchtantra Kahani book</h4>
          <p>
            thee fkwf fwfkwjfwf kfjw ffffdioewffnfwifw ff fmfwpfwpf fwif
            wfffwfifinnffnfpf fnewfnfifnlnfn ifjfer foiifffijffw fjjf ge3ghg0rg
            g ffh8hrefhhg0 reff380f3ff
          </p>
          <a href="#">CONTINUE READING</a>
        </div>
        <h1>13/04</h1>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop &
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your E-mail address" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="pic/mylogo.png" alt="" />
        <h4>Contact</h4>
        <p>
          <strong>Address:</strong> Gat: Ploat: Shiv Colony Jalgaon Maharashtra
          India
        </p>
        <p><strong>Phone:</strong> (+91) 8080491934 / (+91) 7709977502</p>
        <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fa-brands fa-facebook" style="color: #0257e8"></i>
            <i class="fa-brands fa-instagram" style="color: #fb096a"></i>
            <i class="fa-brands fa-linkedin" style="color: #025af2"></i>
            <i class="fa-brands fa-youtube" style="color: #f52500"></i>
          </div>
        </div>
      </div>

      <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
      </div>

      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Tracl My Order</a>
        <a href="#">Help</a>
      </div>

      <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="pic/Footer/appstore.png" alt="" />
          <img src="pic/Footer/googleplay.png" alt="" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="pic/Footer/pay.png" alt="" />
      </div>

      <div class="copyright">
        <p>© 2023 Tech etc - HTML CSS Ecommerce Template</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
