{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %} 

<section id="top" class="section-p1">
  <div class="image-container">
    <div class="slide">
      <img src="pic/top/men.png" alt="Men's Clothing" class="image" />
      <span>Men's Clothing</span>
    </div>
    <div class="slide">
      <img src="pic/top/women.png" alt="Women's Clothing" class="image" />
      <span>Women's Clothing</span>
    </div>

    <div class="slide">
      <img src="pic/top/women.png" alt="Women's Clothing" class="image" />
      <span>Women's Clothing</span>
    </div>
    <div class="slide">
      <img src="pic/top/women.png" alt="Women's Clothing" class="image" />
      <span>Women's Clothing</span>
    </div>
    <div class="slide">
      <img src="pic/top/women.png" alt="Women's Clothing" class="image" />
      <span>Women's Clothing</span>
    </div>
    <div class="slide">
      <img src="pic/top/women.png" alt="Women's Clothing" class="image" />
      <span>Women's Clothing</span>
    </div>

    <div class="slide">
      <img src="pic/top/Children.png" alt="Kind's Fashion" class="image" />
      <span>Kind's Fashion</span>
    </div>
    <div class="slide">
      <img
        src="pic/top/beauty-makeup.png"
        alt="Beauty and Makeup"
        class="image"
      />
      <span>Beauty and Makeup</span>
    </div>
    <div class="slide">
      <img
        src="pic/top/traditional.png"
        alt="Traditional Wear"
        class="image"
      />
      <span>Traditional Wear</span>
    </div>
  </div>

  <button class="prev-button">&#10094;</button>
  <button class="next-button">&#10095;</button>
</section>

<section id="hero">
  <h2><span>Grand Opening</span></h2>
  <h2>Dhamaaka Deals</h2>
  <h1><strong>On all products</strong></h1>
  <h3>Save Up to 70% off!</h3>
  <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
  <div class="features">
    <div class="boxx">
      <img
        src="pic/feature/cash-delivery.png"
        alt="Cash on Delivery"
        class="image-sq"
      />
      <span class="texts">Cash on Delivery</span>
    </div>
    <div class="boxx">
      <img
        src="pic/feature/customerSupport.png"
        alt="24/7 Customer Support"
        class="image-sq"
      />
      <span class="texts">24/7 Customer Support</span>
    </div>
    <div class="boxx">
      <img
        src="pic/feature/easy-returns.png"
        alt="Easy Return"
        class="image-sq"
      />
      <span class="texts">Easy Return</span>
    </div>
    <div class="boxx">
      <img
        src="pic/feature/freeShipping.png"
        alt="Free Shipping"
        class="image-sq"
      />
      <span class="texts">Free Shipping</span>
    </div>
  </div>
</section>

<section id="banner" .section-m1 class="section-m1">
  <h4>Repair Services</h4>
  <h2>Up to <span>70% Off</span> - All t-Shirts & Accessories</h2>
  <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
  <h2>NEW ARRIVALS</h2>
  <div class="pro-container">
    <!-- 1st Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/1st.jpg" alt="" />
      <div class="des">
        <span>HRX</span>
        <h5>Night Pant</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.299</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 2nd Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/2nd.jpg" alt="" />
      <div class="des">
        <span>Levi's</span>
        <h5>T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.219</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 3rd Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/3rd.jpg" alt="" />
      <div class="des">
        <span>Vitaan</span>
        <h5>Shorts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.129</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 4th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/4th.jpg" alt="" />
      <div class="des">
        <span>Peter England</span>
        <h5>Blazers</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.389</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 5th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/5th.jpg" alt="" />
      <div class="des">
        <span>FabIndia</span>
        <h5>Sari</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.199</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 6th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/6th.jpg" alt="" />
      <div class="des">
        <span>Flying Machine</span>
        <h5>Jeans</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.259</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 7th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/7th.jpg" alt="" />
      <div class="des">
        <span>Allen Solly</span>
        <h5>Skirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.199</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 8th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/8th.jpg" alt="" />
      <div class="des">
        <span>Levi's</span>
        <h5>Cargo</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.459</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>
    <button class="hover-button">View All</button>
  </div>
  <br />
  <br />
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>
      Get E-mail updates about our latest shop &
      <span>special offers.</span>
    </p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your E-mail address" />
    <button class="normal">Sign Up</button>
  </div>
</section>

<section id="sm-banner" class="section-p1">
  <div class="banner-box">
    <button class="white">Learn More</button>
  </div>
  <div class="banner-box banner-box2">
    <button class="white">Collection</button>
  </div>
</section>

<section id="product1" class="section-p1">
  <h2>TOP SELLERS</h2>
  <div class="pro-container">
    <!-- 1st Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/1st.jpg" alt="" />
      <div class="des">
        <span>HRX</span>
        <h5>Night Pant</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.299</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 2nd Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/2nd.jpg" alt="" />
      <div class="des">
        <span>Levi's</span>
        <h5>T-Shirt</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.219</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 3rd Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/3rd.jpg" alt="" />
      <div class="des">
        <span>Vitaan</span>
        <h5>Shorts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.129</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 4th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/4th.jpg" alt="" />
      <div class="des">
        <span>Peter England</span>
        <h5>Blazers</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.389</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 5th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/5th.jpg" alt="" />
      <div class="des">
        <span>FabIndia</span>
        <h5>Sari</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.199</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 6th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/6th.jpg" alt="" />
      <div class="des">
        <span>Flying Machine</span>
        <h5>Jeans</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.259</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 7th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/7th.jpg" alt="" />
      <div class="des">
        <span>Allen Solly</span>
        <h5>Skirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.199</h4>
      </div>
      <a href="#"
        ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
      ></a>
    </div>

    <!-- 8th Product Section -->
    <div class="pro">
      <img src="pic/ProductImg/8th.jpg" alt="" />
      <div class="des">
        <span>Levi's</span>
        <h5>Cargo</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>Rs.459</h4>
      </div>
      <div>
        <a href="#"
          ><i class="fa-sharp fa-regular fa-heart heart fa-lg"></i
        ></a>
      </div>
    </div>
    <button class="hover-button">View All</button>
  </div>
  <br />
  <br />
</section>

<section id="popup-button">
  <div class="button-container">
    <button class="floating-button">
      <i class="fa-sharp fa-solid fa-headset fa-xl"></i>
      <span class="button-text"><a href="{% url 'contact' %}">Contact_Us</a></span>
    </button>
  </div>
</section>

{% endblock body %}
