{% extends 'base.html' %}

{% block title %} Shop {% endblock title %}
{% block body %} 

<section id="categorie-top"></section>

    <section id="product1" class="section-p1">
      <div class="down-section">
        <div class="down-left-section">
          <div class="pahili">
            <div class="filters"><h3>Filters</h3></div>
            <div class="clear-all"><a href="#">CLEAR ALL</a></div>
          </div>
          <div class="line"></div>
          <div>
            <div><h4>Gender</h4></div>
            <form>
              <label>
                <input type="radio" name="Gender" value="Male" />
                Male
              </label>
              <label>
                <input type="radio" name="Gender" value="Female" />
                Female
              </label>
            </form>
            <div id="result"></div>
          </div>

          <div class="Categorie">
            <div><h4>Categories</h4></div>
            <form>
              <label>
                <input type="checkbox" name="option" value="option1" />
                <span class="checkbox-text">Shirts</span>
              </label>
              <label>
                <input type="checkbox" name="option" value="option2" />
                <span class="checkbox-text">T-Shirts</span>
              </label>
              <label>
                <input type="checkbox" name="option" value="option3" />
                <span class="checkbox-text">Kurtas</span>
              </label>
              <label>
                <input type="checkbox" name="option" value="option3" />
                <span class="checkbox-text">Paijamas</span>
              </label>
              <label>
                <input type="checkbox" name="option" value="option3" />
                <span class="checkbox-text">Track Suit</span>
              </label>
              <label>
                <input type="checkbox" name="option" value="option3" />
                <span class="checkbox-text">Other</span>
              </label>
            </form>
            <div id="result"></div>
          </div>
        </div>

        <div class="down-right-section">
          <div class="sort-b">
            <select id="sort-ComboBox" onchange="updateSelectedOption()">
              <option value="" selected disabled>Sort by: Popularity</option>
              <option value="option1">Low to High</option>
              <option value="option2">High to Low</option>
              <option value="option3">New Arrivals</option>
              <option value="option4">Customer Rating</option>
            </select>
          </div>
          <h2>Featured Products</h2>
          <p>Summer Collection New Morden Design</p>
          <div class="pro-container">
            <!-- 1st Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/1st.jpg" alt="" />
              <div class="des">
                <span>HRX</span>
                <h5>Night Pant</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.299</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 2nd Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/2nd.jpg" alt="" />
              <div class="des">
                <span>Levi's</span>
                <h5>T-Shirt</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.219</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 3rd Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/3rd.jpg" alt="" />
              <div class="des">
                <span>Vitaan</span>
                <h5>Shorts</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.129</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 4th Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/4th.jpg" alt="" />
              <div class="des">
                <span>Peter England</span>
                <h5>Blazers</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.389</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 5th Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/5th.jpg" alt="" />
              <div class="des">
                <span>FabIndia</span>
                <h5>Sari</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.199</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 6th Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/6th.jpg" alt="" />
              <div class="des">
                <span>Flying Machine</span>
                <h5>Jeans</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.259</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 7th Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/7th.jpg" alt="" />
              <div class="des">
                <span>Allen Solly</span>
                <h5>Skirts</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.199</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>

            <!-- 8th Product Section -->
            <div class="pro">
              <img src="pic/ProductImg/8th.jpg" alt="" />
              <div class="des">
                <span>Levi's</span>
                <h5>Cargo</h5>
                <div class="star">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4>Rs.459</h4>
              </div>
              <a href="#"
                ><i
                  class="fa-sharp fa-regular fa-heart heart"
                  style="color: #091e44"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop &
          <span>special offers.</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your E-mail address" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

{% endblock body %}

